# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.sass-cache/
.installed.cfg
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# PyCharm
.idea/
*.iws
*.iml
*.ipr

# Jupyter Notebook
.ipynb_checkpoints

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Python
*.py[co]

# virtualenv
bin/
include/
lib/
pyvenv.cfg
pip-log.txt

# Environment Variables
.env

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Backup files
*.bak

# If you are using LaTeX, uncomment the following lines
# *.aux
# *.bbl
# *.blg
# *.fls
# *.log
# *.synctex.gz
# *.fdb_latexmk

# dotenv environment variables file
.env
.env.*.local

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache/
.pytest_cache/

# Others
*.swp
*~
